[user]
	useconfigonly = true
	name = Charles Kerr
	email = ckerr@github.com

[url "git+ssh://charlesk@git.launchpad.net/"]
	insteadof = lp:

[url "git+ssh://charlek@git.launchpad.net/~charlesk/+git/"]
	insteadof = lpme:

[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto

[push]
	default = matching
[diff]
	tool = meld
[core]
	quotepath = false
